@import "tailwindcss";

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --color-wht: #fcf9f2;
  --color-wht-md: #f2efe8;
  --color-wht-gr: #e8e4db;
  --color-blk: #2b2b2b;
  --color-blk-md: #3a3a3a;
  --color-blk-gr: #4a4a4a;
  --color-grn: #8baa6e;
  --color-grn-gr: #94a886;
  --color-pnk: #c9858a;
  --color-pnk-gr: #b8888a;
}

@layer utilities {
    .card-responsive {
        @apply min-w-[100px] max-w-[250px] min-h-[180px] max-h-[300px];
    }
    @media (min-width: 640px) {
        .card-responsive {
            @apply min-w-[250px] max-w-[400px] min-h-[250px] max-h-[400px];
        }
    }
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: var(--color-blk);
        border-radius: 10px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: var(--color-blk-gr);  
        border-radius: 10px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #5a5a5a;
    }
}